@import '../utils/variables.scss';

.collapses{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top:38px;
    margin-bottom:38px;
    margin-left:208px;
    margin-right:208px;

    .collapse__title{
        display:flex;
        align-items: center;
        justify-content: space-between;
        background: $red;
        border-radius:5px;
        color:$white;
        font-family: $fontStyle;
        font-size: 24px;
        padding-left:20px;
        padding-right:20px;
        padding-top:10px;
        padding-bottom:10px;
        font-weight: bold;

        :hover{
            cursor:pointer;
           
        }
    }

    .collapse__icon{
        position:relative;
        width:32px;
        height:32px;
        transition:transform 0.4s ease;
        }
    

    .active {
        
        .collapse__icon{
        transform: rotate(-180deg);
       
        }

        .collapse__title{
            cursor:pointer;
        }

        .collapse__content{
            visibility: visible;
            opacity:1;
            height:auto;
            background: $grey;
            padding-top:25px;
            padding-bottom:20px;
           
          
         
        }    
    }
    

    .collapse__content{
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
        font-family: $fontStyle;
        padding-right:20px;
        padding-left:28px;
        height:0;
        }

}

@keyframes slide {
    from{
        top:0;
    }

    to {
        top:100%;
    }
    
}